// ================================
// Components: Grid
// ================================

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: rem(-$spacing-unit);
  margin-left: rem(-$spacing-unit);

  &.reverse {
    flex-direction: row-reverse;
  }
}

// gutter: wide
.row--gutter-wide {
  margin-right: rem(-$spacing-unit * 2);
  margin-left: rem(-$spacing-unit * 2);
}

.row--gutter-wide-lg {
  @include media('>=lg') {
    margin-right: rem(-$spacing-unit * 2);
    margin-left: rem(-$spacing-unit * 2);
  }
}

// gutter: narrow
.row--gutter-narrow {
  margin-right: rem(-$spacing-unit/2);
  margin-left: rem(-$spacing-unit/2);
}

// gutter: gapless
.row--gutter-gapless {
  margin-right: 0;
  margin-left: 0;
}

.row--columns {
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }
}

// column spacing
[class*='col-'] {
  flex: 0 0 auto;
  padding-right: rem($spacing-unit);
  padding-left: rem($spacing-unit);

  // wide spacing of 20px at LG
  .row--gutter-wide-lg > & {
    @include media('>=lg') {
      padding-right: rem($spacing-unit * 2);
      padding-left: rem($spacing-unit * 2);
    }
  }

  // wide spacing of 20px
  .row--gutter-wide > & {
    padding-right: rem($spacing-unit * 2);
    padding-left: rem($spacing-unit * 2);
  }

  // narrow spacing of 5px
  .row--gutter-narrow > & {
    padding-right: rem($spacing-unit/2);
    padding-left: rem($spacing-unit/2);
  }

  // gapless spacing
  .row--gutter-gapless > & {
    padding-right: 0;
    padding-left: 0;
  }
}

@include columns($grid-columns);
@include columns-offsets($grid-columns);
@include columns-helpers;

// Display grid lines
// @if $enable-gridlines {
//   body {
//     background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
//     background-position: left -1px;
//     background-repeat: repeat;
//     background-size: 20px 20px;
//   }
// }
