<div class="modals">
  {% include "_components/modal.html" with {
    "id": "crossroads",
    "imgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/maps/locations/crossroads.jpg",
    "locName": "Crossroads Hotel",
    "excerpt": "Baldwin Denim, by Matt Baldwin, is a Kansas City based brand that focuses on Made in U.S.A. production and high quality fabrics and designs for its jeans.",
    "details": [
      {
        "title": "Directions",
        "icon": "directions",
        "url": "https://goo.gl/maps/ZQGthe7wnWv"
      },
      {
        "title": "Phone",
        "text" : "+1 (866) 531-2400",
        "icon": "phone",
        "url": "tel:8665312400"
      },
      {
        "title": "Homepage",
        "text" : "www.crossroadshotelkc.com",
        "icon": "",
        "url": "http://www.crossroadshotelkc.com"
      },
      {
        "title": "Address",
        "text" : "2101 Central St, <br>
          Kansas City, MO 64108 <br>
          United States",
        "icon": "",
        "url": ""
      }
      ]
  } %}
  {% include "_components/modal.html" with {
    "id": "baldwin",
    "imgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/maps/locations/baldwin.jpg",
    "locName": "Baldwin KC",
    "excerpt": "Baldwin Denim, by Matt Baldwin, is a Kansas City based brand that focuses on Made in U.S.A. production and high quality fabrics and designs for its jeans.",
    "details": [
      {
        "title": "Directions",
        "icon": "directions",
        "url": "https://goo.gl/maps/Xc9P8qfVbRF2"
      },
      {
        "title": "Phone",
        "text" : "+1 (913) 312-2374",
        "icon": "phone",
        "url": "tel:9133122374"
      },
      {
        "title": "Homepage",
        "text" : "www.baldwin.co",
        "icon": "",
        "url": "http://www.baldwin.co"
      },
      {
        "title": "Address",
        "text" : "422 Nichols Road <br>
            Kansas City, MO 64112 <br>
            United States",
        "icon": "",
        "url": ""
      }
      ]
  } %}
  {% include "_components/modal.html" with {
    "id": "vmlyr",
    "imgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/maps/locations/vmlyr.jpg",
    "locName": "VMLY&amp;R Kansas City",
    "excerpt": "",
    "details": [
      {
        "title": "Directions",
        "icon": "directions",
        "url": "https://goo.gl/maps/dNugrVMuBFB2"
      },
      {
        "title": "Phone",
        "text" : "+1 (816) 283-0700",
        "icon": "phone",
        "url": "tel:8162830700"
      },
      {
        "title": "Homepage",
        "text" : "www.vml.com",
        "icon": "",
        "url": "http://www.vml.com"
      },
      {
        "title": "Address",
        "text" : "250 Richards Road <br>
                  Kansas City, MO 64116 <br>
                  United States",
        "icon": "",
        "url": ""
      }
    ]
  } %}
  
  {# Speaker modals #}
  {% include "_components/speaker-modal.html" with {
    "id": "evanson",
    "img": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/search/results/aaron_evanson.png",
    "name": "Aaron Evanson",
    "title": "Executive Creative",
    "location": "Location or Company",
    "email": "aaron.evanson@vmlyr.com"
    } %}
</div>
