// ================================
// Footer
// ================================

.layout-footer {
  background-color: var(--footerBg);
  color: var(--footerCopyColor);

  img {
    max-height: rem(270px);
    width: auto;
  }
}

.bg-recognition {
  background-color: var(--footerBgRecognition);
}

.social {
  a {
    svg {
      fill: var(--socialFill);
    }

    &:hover {
      svg {
        fill: var(--socialHover);
      }
    }
  }
}

.link {
  color: var(--socialFill);

  &:hover {
    color: var(--socialHover);
  }
}
