// ================================
// Main
// ================================

.app {
  display: flex;
  flex-direction: column;
  //height: 100%; when set makes navbar disappear
  min-height: 100%;
}

main {
  flex: 1 0 auto;
}
