{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set title = "VMLY&R | Page Doesn't Exist" %}

{% block content %}
  <article class="landing-home" id="top">
    <section class="vg-4 bg-blue bg-center bg-repeat-none bg-cover align-center color-white" style="background-image: url('https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/arrows.jpg')">
      <h1 class="type-h3 mb-2">Page Doesn't Exist</h1>
      <p>You reached a page that doesn't exist.  Return to the <a href="/" class="color-white">homepage</a></p>
    </section>
    <section class="vg-4 bg-blue"></section>
  </article>
{% endblock %}
