// ================================
// Utilities: Overflow
// ================================

$letterSpacing: (
  tight: -0.05em,
  normal: 0,
  wide: 0.05em
);

@each $label, $value in $letterSpacing {
  .tracking-#{$label} {
    letter-spacing: $value;
  }
}

// --------------------------------
// Responsive Alignment
// --------------------------------

@each $breakpoint in map-keys($breakpoints) {
  @include media(#{'>=' + $breakpoint}) {
    @each $label, $value in $letterSpacing {
      .#{$breakpoint}\:.tracking-#{$label} {
        letter-spacing: $value;
      }
    }
  }
}
