// ================================
// Components: Button
// ================================

$buttonHeight: rem(35px);

.button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--buttonDrkBg);
  border: 2px solid var(--buttonDrkOutline);
  padding: rem(10px 0);
  color: var(--buttonDrkFont);
  min-width: rem(150px);
  min-height: $buttonHeight;
  font-size: rem(12px);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  transition: color 350ms $cubic-in;
  cursor: pointer;
  overflow: hidden;

  @include media('>=md') {
    // width: 100%;
    font-size: rem(14px);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 140%;
    height: 110%;
    transform: translateX(-140%) skew(-40deg);
    background-color: var(--buttonDrkHvrBg);
    transition: 650ms $cubic-in;
    transition-delay: 100ms;
  }

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--buttonDrkHvrFont);
    border-color: var(--buttonDrkHvrBg);
    transition-delay: 100ms;

    svg {
      fill: var(--buttonDrkHvrFont);
    }

    &::before {
      transform: translateX(-15%) skew(-40deg);
    }
  }

  svg {
    fill: var(--buttonDrkFont);
  }
}

.button--white {
  border-color: var(--buttonLtOutline);
  background-color: var(--buttonLtBg);
  color: var(--buttonLtFont);

  &::before {
    background-color: var(--buttonLtHvrBg);
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--buttonLtHvrFont);
    border-color: var(--buttonLtHvrBg);

    svg {
      fill: var(--buttonLtHvrFont);
    }
  }

  svg {
    fill: var(--buttonLtFont);
  }
}

.button__label {
  padding-left: rem(20px);
  padding-right: rem(15px);
  flex-grow: 1;
}

.button__icon {
  padding-right: rem(20px);
  flex-grow: 1;
}

.button--round {
  border-radius: rem(40px);
}

.buttonless {
  text-align: center;
  text-transform: uppercase;
  max-width: rem(260px);

  a {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: var(--buttonlessHvr);

      svg {
        fill: var(--buttonlessHvr);
      }
    }
  }

  @include media('>=md') {
    max-width: rem(275px);
  }
}

.buttonless--light {
  a {
    &:hover,
    &:active,
    &:focus {
      color: var(--buttonlessHvrLight);

      svg {
        fill: var(--buttonlessHvrLight);
      }
    }
  }
}
