// ================================
// Components: Logo Wall
// ================================

.logoWall {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  overflow: hidden;
}

.logoWall__col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 50%;
  padding: rem(30px);
  border-right: 1px dotted setcolor(blue);
  border-bottom: 1px dotted setcolor(blue);
  transform: translate(1px, 1px);

  @include media('>=xs') {
    width: 33.3333%;
    max-width: 33.3333%;
  }

  @include media('>=md') {
    width: 25%;
    max-width: 25%;
    padding: rem(40px);
  }
}

.logoWall__logo {
  display: block;
  width: auto;
  height: auto;
  max-height: rem(45px);
  max-width: 100%;

  @include media('>=lg') {
    max-height: rem(70px);
  }
}

.logoWall--wide {
  .logoWall__col {
    @include media('>=md') {
      width: 20%;
      max-width: 20%;
      padding: rem(35px);
    }
  }

  .logoWall__logo {
    max-height: rem(45px);
  }
}
