<header class="intro {{ classes|default('vg-4 color-white') }}" {% if id %}id="{{id}}"{% endif %} {% if bgFileName %}style="background-image: url('{{ bgFileName }}')"{% endif %}>
  <div class="container-xl">
    <div class="intro__overlay align-center">
      {% if title %}
        <h1 class="type-h2 mb-3">
          {% if titleAbove %}<span class="type-h3 font-light block">{{ titleAbove }}</span>{% endif %}
          <span class="block mb-1">{{ title }}</span>
          {% if titleBelow %}<span class="type-h3 font-light block">{{ titleBelow }}</span>{% endif %}
        </h1>
      {% endif %}

      {% if buttons %}
        <div class="row justify-center">
        {% for btn in buttons %}
          {% if btn.title and btn.url %}
            <div class="col-12 md:col-variable {% if btn.heading %} mb-2 md:mb-0 {% else %} mb-1 md:mb-0 {% endif %}">
              {% if btn.heading %}<p class="type-h5 align-center mb-2">{{btn.heading}}</p>{% endif %}
              {{ button(btn.title, btn.icon, btn.size|default('sm'), btn.newWindow, btn.url, btn.class) }}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</header>
  