// ================================
// Variables
// ================================

// --------------------------------
// Root Font Sizing
// --------------------------------

// <html> and <body> font sizes
$html-font-size: 62.5%;
$body-font-size: 16px;

// Functions
$em-base-multiplyer: 16px !default;
$font-size-base-rem: 10px !default;
$line-height: 1.625 !default;
$vr: 26px !default;

// Import unit function
@import '../tools/get-em';
@import '../tools/get-rem';
