// ================================
// Settings: Paths
// ================================

// Asset directories
$path-images: 'https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images' !default;
$path-icons: '../icons' !default;
$path-fonts: '../fonts' !default;
$path-iconfont: '../fonts/iconfont' !default;
$path-uploads: '../uploads' !default;
