// ================================
// Typography
// ================================

// --------------------------------
// Font Families
// --------------------------------

$font-default: 'Avenir', -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif;
$font-primary: 'yrthree', sans-serif;
$font-yrthree: 'yrthree', sans-serif;
$font-mono: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;

$font-350: 350;
$font-400: 400;
$font-500: 500;
$font-700: 700;
$font-900: 900;

// --------------------------------
// Type Sets
// --------------------------------

// Define a type grouping that can be looped over and generate utility classes
$type-sets: (
  h1: (
    base: (
      font-size: rem(45px)
    ),
    md: (
      font-size: rem(55px),
      line-height: 1.3
    ),
    lg: (
      font-size: rem(65px)
    )
  ),
  h2: (
    base: (
      font-size: rem(34px)
    ),
    lg: (
      font-size: rem(55px),
      line-height: 1.28
    )
  ),
  h3: (
    base: (
      font-size: rem(26px)
    ),
    lg: (
      font-size: rem(34px),
      line-height: 1.28
    )
  ),
  h4: (
    base: (
      font-size: rem(22px)
    ),
    lg: (
      font-size: rem(26px),
      line-height: 1.2
    )
  ),
  h5: (
    base: (
      font-size: rem(17px)
    ),
    md: (
      font-size: rem(21px),
      line-height: 1.35
    )
  ),
  meta: (
    base: (
      font-size: rem(11px),
      letter-spacing: 0.15em,
      text-transform: uppercase
    )
  ),
  headlineSection: (
    base: (
      text-transform: uppercase,
      letter-spacing: -0.05em
    )
  ),
  xs: (
    base: (
      font-size: 0.75em
    )
  ),
  sm: (
    base: (
      font-size: 0.875em
    )
  ),
  base: (
    base: (
      font-size: 1em
    )
  ),
  lg: (
    base: (
      font-size: 1.125em
    )
  ),
  xl: (
    base: (
      font-size: 1.25em
    )
  )
);
